{% extends 'base.html.twig' %}

{% block body_id 'dashboard' %}

 

{% block main %}
    <div class="newsitem_text">



        <p><center><strong>INSTRUCTIONS IN FILLING </strong></center></p>
        <hr>
        <p>All Ghanaian applicants for the 2018/2019 Academic year admission are required to use Takoradi Technical University online admission portal. The procedure for the online application process is as follows:</p>

        <p><strong>I</strong>. In completing the online form, applicants will be required to upload their passport size photograph (not more than 500KB) with a white background.</p>
        <p><strong>II. </strong>Applicants are advised to check thoroughly all details entered before they finally submit their online applications. A form, once submitted, can be viewed, but cannot be edited.</p>
        <p><strong>III.</strong> Applicants should print out application form; attach result slips, certificates  and all other relevant documents.</p>
        <p><strong>VI. </strong>The application documents as specified (III) above should sent by post to

        <p align="center"><strong>The Registrar</strong></p>
        <p align="center"><strong>Takoradi Technical University</strong></p>
        <p align="center"><strong>P. O Box 256, Takoradi, W/R.</strong></p>

        <center><p><strong>For more information call 033 2094767 / 0243039730 / 0246091283 / 0505284060</strong></p></center>
        &nbsp;

        {#<center><a class="ui inverted orange button" href="{{ path('photoUpload') }}">Click to start application</a></center>#}
   {##}
    </div>

{% endblock %}






